.artPageClass{
  margin: 25px
}

.artCostContainer{
  display: flex;
  flex-direction: row;
  flex: 3;
  justify-content: space-between;
  align-items: center;
}

.CartButton{
  margin: 2px;
  color: var(--black);
  background-color: var(--yellow);
  border: 2px solid var(--black);
  border-radius: 5px;
  padding: 5px;
  transition: transform 0.3s ease;
}

.CartButton:hover{
  margin: 2px;
  color: var(--white);
  background-color: var(--black);
  border: 2px solid var(--white);
  border-radius: 5px;
  padding: 5px;
  transition: transform 0.3s ease;
}
.statusSpace{
  margin-right: 5px;
}

.gallery-flex-container-row{
  display: flex;
  flex-direction: row;
}

.gallery-flex-container-column{
  display: flex;
  flex-direction: column;
}

/* Responsive Grid Class */
.responsive-grid {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 15px; 
    justify-content: center;
    align-items: center; 
    margin-right: 15px;
  }
  
  .imgFit{
    width: 70%;
    height: 50%;
  }

  .artTitleBlack{
    color: var(--black);
  }

  .artTitleWhite{
    color: var(--white);
  }

  .pushDownArt{
    margin: 5px;
  }


.displayImageSmall{
  width: 500px;
  height: 400px;
  background-color: var(--metalic);
  color: var(--white);
  border: 1px solid #ddd;
  border-radius: 9px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.displayImageMedium{
  width: 500px;
  height: 300px;
  background-color: var(--black);
  color: var(--white);
  border: 1px solid #ddd;
  border-radius: 9px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.displayImageLarge{
  width: 500px;
  height: 600px;
  background-color: var(--white);
  color: var(--white);
  border: 1px solid #ddd;
  border-radius: 9px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.displayImageSmall:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.displayImageMedium:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.displayImageLarge:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-from-top {
  animation: fadeInFromTop 1s ease-in-out;
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-from-bottom {
  animation: fadeInFromBottom 1s ease-in-out;
}

/* Mobile Options */
@media screen and (max-width: 980px){
  .gallery-flex-container-row{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 890px){
  .gallery-flex-container-row{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 688px){
  .gallery-flex-container-row{
    display: flex;
    flex-direction: column;
  }
}