#root {
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: var(--bgcolor);
  --bgcolor: #1f1f1f;
  --white: #ebebeb;
  --linkColor: #d6cf00;
  --Transparent: #ffffff00;
  --testColor: #ffcfcf;
  --accColor: #0f4cf1;
  --black: #000000;
  --transBlack: #00000075;
    color: var(--white);
}

svg:hover{
  fill: var(--yellow)
}

.whiteText{
  color: var(--white);
}

.blackText{
  color: var(--black);
}

.yellowText{
  color: var(--yellow);
}


.outletClass{
  position:relative;
  display: flex;
  flex: 11;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--yellow);
  background-color: white;
}

.flex-container-row{
  display: flex;
  flex-direction: row;
}

.flex-container-column{
  display: flex;
  flex-direction: column;
}

.center-content {
  justify-content: center;
  align-items: center;
}

.main-content-scaling {
  transition: transform 0.3s ease;
}

/* Mobile Options */
@media screen and (max-width: 980px){
  .main-content-scaling {
    transform: scale(1.00);
  }

  .outletClass{
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 890px){
  .main-content-scaling {
    transform: scale(0.90);
  }

  .outletClass{
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 688px){
  .main-content-scaling {
    transform: scale(0.75);
  }

  .outletClass{
    justify-content: flex-start;
    align-items: flex-start;
  }
}
