.articleTitle{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .articleText{
    display: flex;
    text-align: start;
    margin: 15px;
    color: var(--white);
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .articleBoundry{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px
  }