.artCostContainer{
  display: flex;
  flex-direction: row;
  flex: 3;
  justify-content: space-between;
  align-items: center;
  max-height: 100px;
}

.CartButton{
  width: 100px;
  margin: 2px;
  color: var(--black);
  background-color: var(--yellow);
  border: 2px solid var(--black);
  border-radius: 5px;
  padding: 5px;
  transition: transform 0.3s ease;
}

.CartButton:hover{
  width: 100px;
  margin: 2px;
  color: var(--white);
  background-color: var(--black);
  border: 2px solid var(--white);
  border-radius: 5px;
  padding: 5px;
  transition: transform 0.3s ease;
}

.gallery-flex-container-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gallery-flex-container-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}

/* Responsive Grid Class */
.responsive-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px; 
    margin: 10px;
  }

  .displayImageLarge{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    border: 1px solid var(--yellow);
    border-radius: 9px;
    transition: transform 0.3s ease;
  }
  
  .imgFit{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    height: 80%;
    object-fit: contain;
    object-position: top;
  }

  .thumbnail{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .artTitleBlack{
    color: var(--black);
  }

  .artTitleWhite{
    color: var(--white);
    margin: 10px 5px 10px 5px;
    padding: 0px;
  }

  .pushDownArt{
    margin: 5px;
  }

.displayImageLarge:hover{
  transform: scale(1.04);
  transition: transform 0.3s ease;
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-from-top {
  animation: fadeInFromTop 1s ease-in-out;
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-from-bottom {
  animation: fadeInFromBottom 1s ease-in-out;
}

/* @media screen and (max-width: 1512px){
  .artCostContainer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
}
@media screen and (max-width: 1260px){
  .artCostContainer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
} */