.footerClass{

  bottom:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 550px;
  color: var(--white);
  background-color: var(--bgcolor);
}

.footerBG{
  background-image: url('../img/wave-haikei.svg');
  background-color: var(--bgcolor);
  background-size:cover, cover;
  background-position: bottom, bottom ;
  background-attachment: fixed, initial;
}

.footerRow{
  flex-direction: row;
}

.small-img{
    width: 40px;
    height: 40px;
    border: 8px;
    padding: 9px;
    transition: transform 0.3s ease;
  }
  
  .small-img:hover{
    transition: transform 0.3s ease;
    transform: scale(1.3);
  }

  .drip{
    background-image: url('../img/wave-haikei.svg');
    background-size:cover;
    background-position: top;
  }