
.NavClass{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 250px;
  }
  
  .navCartImg{
    width: 45px;
    height: 45px;
    margin-right: 5px;
    padding: 15px;
    transition: transform 0.3s ease;
  }

  .navCartImg:hover{
    width: 45px;
    height: 45px;
    margin-right: 5px;
    padding: 15px;
    transition: transform 0.3s ease;
    transform: scale(1.8) rotate(-15deg);
  }

  .navButton{
    background-color: var(--Transparent);
    font-weight: bold;
    margin: 5px;
    padding: 20px;
    color: var(--white);
    transition: transform 0.8s ease, color 0.3s ease;
    text-wrap: nowrap;
  }

  .navButton:hover{
    text-decoration: underline;
    background-color: var(--Transparent);
    padding: 20px;
    color: var(--linkColor);
    border-color:var(--Transparent);
    transition: transform 0.3s ease, color 0.3s ease;
    transform: scale(1.8) rotate(-5deg);
  }

.icon-spinner:hover {
  animation: spin-animation 0.5s 1;
  display: inline-block;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@media screen and (max-width: 980px){
  .navButton{
    background-color: var(--Transparent);
    font-weight: bold;
    font-size: 15px;
    margin: 5px;
    padding: 20px;
    color: var(--white);
    transition: transform 0.8s ease, color 0.3s ease;
  }

  .navButton:hover{
    text-decoration: underline;
    background-color: var(--Transparent);
    padding: 0px;
    color: var(--linkColor);
    border-color:var(--Transparent);
    transition: transform 0.3s ease, color 0.3s ease;
    transform: scale(1.2) rotate(-5deg);
  }
}

@media screen and (max-width: 980px){
  
}

@media screen and (max-width: 688px){
  
}